/* extra-assets/css/dark-mode.css */
body.dark-mode {
  background-color: #333;
  color: #fff;
}

body.dark-mode .navbar {
  background-color: #222;
}

body.dark-mode .navbar-default .navbar-nav > li > a {
  color: #ddd;
}

body.dark-mode .container {
  background-color: #444;
  color: #fff;
}

body.dark-mode .btn {
  background-color: #555;
  color: #fff;
}
